.reveal .code-preview {
  margin-top: 50px;
}

.reveal .circle {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50px;
}

.reveal .star {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: white;
}
.reveal .star:after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: white;
  transform: rotate(45deg);
}

.reveal .circles {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  position: relative;
}
.reveal .circles [class^=circle-] {
  background: white;
  position: absolute;
}
.reveal .circles [class^=circle-]:before {
  content: "";
  display: block;
  width: 10px;
  height: 12px;
  position: absolute;
  left: calc(50% - 5px);
  background: #292929;
}
.reveal .circles [class^=circle-]:after {
  content: "";
  display: block;
  position: absolute;
  background: #292929;
}
.reveal .circles .circle-1 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.reveal .circles .circle-1:after {
  width: 80px;
  height: 80px;
  left: 10px;
  top: 10px;
  border-radius: 40px;
}
.reveal .circles .circle-2 {
  width: 60px;
  height: 60px;
  left: 20px;
  top: 20px;
  border-radius: 30px;
}
.reveal .circles .circle-2:after {
  width: 40px;
  height: 40px;
  left: 10px;
  top: 10px;
  border-radius: 20px;
}

.reveal .doge {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.reveal .doge img {
  margin: inherit;
  background: inherit;
  border: inherit;
  box-shadow: inherit;
}

.reveal .dots {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  position: relative;
}
.reveal [class^=dot-] {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: white;
  transform-origin: -30px 10px;
}
.reveal .dot-1 {
  transform: translateX(40px) rotate(0deg);
}
.reveal .dot-2 {
  transform: translateX(40px) rotate(45deg);
}
.reveal .dot-3 {
  transform: translateX(40px) rotate(90deg);
}
.reveal .dot-4 {
  transform: translateX(40px) rotate(135deg);
}
.reveal .dot-5 {
  transform: translateX(40px) rotate(180deg);
}
.reveal .dot-6 {
  transform: translateX(40px) rotate(225deg);
}
.reveal .dot-7 {
  transform: translateX(40px) rotate(270deg);
}
.reveal .dot-8 {
  transform: translateX(40px) rotate(315deg);
}

.reveal .ball-container {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  position: relative;
}
.reveal .ball-container .ball {
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(50% - 15px);
  bottom: 0;
  background: white;
  border-radius: 15px;
}

.reveal .balls {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  position: relative;
}
.reveal .balls [class^=ball-] {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  background: white;
  border-radius: 13px;
}
.reveal .balls .ball-1 {
  left: 0;
}
.reveal .balls .ball-2 {
  left: calc(50% - 13px);
}
.reveal .balls .ball-3 {
  right: 0;
}


/* @keyframes in Reveal.js live coding plugin don't work properly */

@keyframes fade-out-in {
    0% { opacity: 1; }
   50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
    0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade-in {
    0% { opacity: 0.2; }
  100% { opacity: 1; }
}

@keyframes bounce {
    0% { transform: translateY(0); }
  100% { transform: translateY(-200%); }
}

@keyframes bounce-3rd {
    0% { transform: translateY(0); }
   17% { transform: translateY(-125%); }
   33% { transform: translateY(0); }
  100% { transform: translateY(0); }
}
