* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid;
}


/**
 * SPINNER 1 - rotating star
 */
#spinner-1 .spinner {
  width: 50px;
  height: 50px;
  background: black;
  animation: 2.5s rotate infinite linear;
  position: relative;
}
#spinner-1 .spinner:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: black;
}

/**
 * SPINNER 2 - rotating dots
 */
#spinner-2 .spinner {
  width: 50px;
  height: 50px;
  animation: 2.5s rotate infinite linear;
  position: relative;
}
#spinner-2 .dot {
  position: absolute;
  left: calc(50% - 6px);
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: black;
  transform-origin: -13px 6px;
}
#spinner-2 .dot-1 {
  transform: translateX(19px) rotate(0deg);
  opacity: 1.0;
}
#spinner-2 .dot-2 {
  transform: translateX(19px) rotate(-45deg);
  opacity: 0.8;
}
#spinner-2 .dot-3 {
  transform: translateX(19px) rotate(-90deg);
  opacity: 0.6;
}
#spinner-2 .dot-4 {
  transform: translateX(19px) rotate(-135deg);
  opacity: 0.4;
}
#spinner-2 .dot-5 {
  transform: translateX(19px) rotate(-180deg);
  opacity: 0.3;
}
#spinner-2 .dot-6 {
  transform: translateX(19px) rotate(-225deg);
  opacity: 0.2;
}
#spinner-2 .dot-7 {
  transform: translateX(19px) rotate(-270deg);
  opacity: 0.1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
